extends ../base.pug


block content
  form.product-form(action='/admin/product/create/' method='POST')
    .form-control
      label(for='title') Title
      input(name='title', type='text', id='title', required)
    .form-control
      label(for='image') Image url
      input(name='image', type='text', id='image', required)
    .form-control
      label(for='price') Price
      input(name='price', type='text', id='price', required)
    .form-control
      label(for='description') Description
      textarea(name='description', id='description' rows='5', required)
    button.btn(type='submit') add product
