extends ../base.pug
block content
  div.grid
    each product in products
      article.card.product-item
        .card__header
          .product__title!=product.title
        .card__content
          .product__price!=product.price
          .product__description!=product.description
          img.product__image(src!=product.image)
        .card__actions
          a.btn(href='/products/' + product.id + '/') Details
          include ./../includes/add-to-cart
              

